<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Galaxy Swiss Bourdin : Connexion</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body class="bg-light">
    <div id="container-connexion" class="container-fluid">
      <h3 class="text-center">Bienvenue sur l'intranet GSB</h3>

      <div id="container-connexion-form">
        <h5 class="px-4 my-4">Portail de connexion</h5>
        <form method="post">
          <div class="form-group">
            <label for="inputLogin">Login</label>
            <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required="required" autofocus="autofocus">
          </div>

          <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required="required">
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

          {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          <button class="btn btn-lg btn-primary" type="submit">
            Connexion
          </button>
        </form>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
