
			/* CSS pour le dasboard */


.img-redim-col4 {
		height: 235px;
		max-width: 100%;
}

.img-redim-col4-compta {
		height: 235px;
		width: auto;
}

.img-compta-bg {
		text-align: center;
		background-color: #f4eab9 !important;
}

.img-redim-col6 {
		height: 360px;
		max-width: 100%;
}

.img-redim-col6-compta {
		height: 360px;
		width: auto;
}
