
			/* CSS pour le template de base du site */


	/* Logo */
#container-logo {
	text-align: center;
	margin: auto 0px;
}

#container-logo > a > img {
	width: 130px;
	height: 70px;
}

	/* Menu */
.button-position {
	margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-link:hover{
	cursor: pointer;
	text-decoration: inherit;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

	/* Redirection */
#container-redirection {
	padding: 8rem 3rem;
	text-align: center;
	font-size: 20px;
}

#container-redirection > a {
	margin: 0rem 0.6rem;
}
