#container-profil {
  margin: 3% 8%;
  padding: 2%;
  border: 1px solid steelblue;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(20, 96, 185, 0.75);
  -moz-box-shadow: 0px 0px 8px 2px rgba(20, 96, 185, 0.75);
  box-shadow: 0px 0px 8px 2px rgba(20, 96, 185, 0.75);
}

ul {
  list-style: none;
}
