{% extends 'base.html.twig' %}

{% block title %}New LigneFraisHorsForfait{% endblock %}

{% block body %}
    <h1>Create new LigneFraisHorsForfait</h1>

    {{ include('ligne_frais_hors_forfait/_form.html.twig') }}

    <a href="{{ path('ligne_frais_hors_forfait_index') }}">back to list</a>
{% endblock %}
