{% extends 'base.html.twig' %}

{% block title %}LigneFraisHorsForfait{% endblock %}

{% block body %}
    <h1>LigneFraisHorsForfait</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_frais_hors_forfait.id }}</td>
            </tr>
            <tr>
                <th>DateMois</th>
                <td>{{ ligne_frais_hors_forfait.dateMois ? ligne_frais_hors_forfait.dateMois|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ ligne_frais_hors_forfait.libelle }}</td>
            </tr>
            <tr>
                <th>Justificatifs</th>
                <td>{{ ligne_frais_hors_forfait.justificatifs }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ ligne_frais_hors_forfait.date ? ligne_frais_hors_forfait.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ ligne_frais_hors_forfait.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_frais_hors_forfait_index') }}">back to list</a>

    <a href="{{ path('ligne_frais_hors_forfait_edit', {'id': ligne_frais_hors_forfait.id}) }}">edit</a>

    {{ include('ligne_frais_hors_forfait/_delete_form.html.twig') }}
{% endblock %}
