<form method="post" action="{{ path('fiche_frais_delete', {'id': fiche_frai.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_frai.id) }}">
    <button class="btn btn-secondary">Delete</button>
</form>
