{{ form_start(form) }}

  <div class="form-group">
    <label>Mois </label>
    {{ form_widget(form.mois) }}
  </div>

  {% if app.session.get('role') == "Comptable" %}
    <div class="form-group">
      <label>Etat</label>
      {{ form_widget(form.fk_etat) }}
    </div>
  {% endif %}

  <div class="form-group">
    <label>CV Fiscaux </label>
    {{ form_widget(form.fk_vehicule) }}
  </div>

  <h5>Ligne Frais Forfait </h5>

  <div class="form-group">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Libelle</th>
          <th scope="col">Montant</th>
          <th scope="col">Quantite</th>
          {% if app.session.get('role') == "Comptable" %}
            <th scope="col" style="text-align: center;">Validé</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for uneLigne in form.ligneFraisForfaits %}
          <tr>
            <th scope="row">{{ listeFraisForfait[loop.index - 1].libelle }}</th>
            <td>{{ listeFraisForfait[loop.index - 1].montant }}</td>
            <td>{{ form_widget(uneLigne.quantite) }}</td>
            {% if app.session.get('role') == "Comptable" %}
              <td style="text-align: center;">{{ form_widget(uneLigne.etatValidationLigne) }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h5>Ligne Frais Hors Forfait </h5>

  {% if app.session.get('role') == "Visiteur" %}
    <div>
      <i id="js-add-button" style="font-size: 1.8rem; cursor: pointer;" class="fas fa-plus-square"></i>
      <i id="js-remove-button" style="font-size: 1.8rem; cursor: pointer;" class="fas fa-minus-square"></i>
    </div>
  {% endif %}

  <div>
    <ul id="js-container-LHF" data-prototype="{{ form_widget(form.ligneFraisHorsForfaits.vars.prototype)|e('html_attr') }}">
      {% for uneLigne in form.ligneFraisHorsForfaits %}
        <li id="js-LHF-{{ loop.index }}">
          <div style="margin: 30px;"><b>LHF n°{{ loop.index }} :</b></div>
          {{ form_row(uneLigne) }}
          {% if justificatifsChemin[loop.index - 1] %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalJustificatif">Voir justificatif</button>
            <div class="modal fade" id="modalJustificatif" tabindex="-1" role="dialog" aria-labelledby="modalJustificatifCentered" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Justificatif n°{{ loop.index }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center">
                    <img src="{{ asset('uploads/justificatifs/' ~ justificatifsChemin[loop.index - 1]) }}">
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ form_row(form.save, { 'label': button_label|default('Sauvegarder') }) }}

{{ form_end(form) }}
