{% extends 'base.html.twig' %}

{% block title %}Fiche Frais{% endblock %}

{% block titrepage %} Modification Fiche de Frais {% endblock %}

{% block body %}

  <div style="width:75%; margin: auto;">
    {% if app.session.get('role') == "Comptable" %}
      {{ include('fiche_frais/_form.html.twig', {'button_label': 'Valider'}) }}
    {% else %}
      {{ include('fiche_frais/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% endif %}
  </div>

{% endblock %}

{% block javascripts %}
  <script src="/js/addLHF.js" type="text/javascript"></script>
{% endblock %}
