{% extends 'base.html.twig' %}

{% block title %}Fiche Frais{% endblock %}

{% block titrepage %} Liste des Fiches de Frais {% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Mois</th>
                <th>Montant Total</th>
                <th>Etat</th>
                <th>Montant Validé</th>
                <th>Nombres de justificatifs</th>
                <th>Dernière modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_frai in fiche_frais %}
            <tr>
                <td>{{ fiche_frai.mois ? fiche_frai.mois|date('F Y') : '' }}</td>
                <td>{{ fiche_frai.montantTotal }}€</td>
                <td>{{ fiche_frai.fkEtat }}</td>
                <td>{{ fiche_frai.montantValide }}€</td>
                <td>{{ fiche_frai.nbJustificatifs }}</td>
                <td>{{ fiche_frai.dateModification ? fiche_frai.dateModification|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('fiche_frais_show', {'id': fiche_frai.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('fiche_frais_edit', {'id': fiche_frai.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">Il n'y a actuellement pas de fiches de frais.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.session.get('role') == "Visiteur" %}
      <a class="btn btn-info" href="{{ path('fiche_frais_new') }}">Ajouter une nouvelle fiche <i class="fas fa-sticky-note"></i></a>
    {% endif %}
{% endblock %}
