{% extends 'base.html.twig' %}

{% block title %}Fiche Frais{% endblock %}

{% block titrepage %} Création Fiche de Frais {% endblock %}

{% block body %}

  <div style="width:75%; margin: auto;">
    {{ include('fiche_frais/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
  </div>

{% endblock %}

{% block javascripts %}
  <script src="/js/addLHF.js" type="text/javascript"></script>
{% endblock %}
