<form method="post" action="{{ path('ma_session_delete', {'id': ma_session.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ma_session.id) }}">
    <button class="btn">Delete</button>
</form>
