{% extends 'base.html.twig' %}

{% block title %}Edit MaSession{% endblock %}

{% block body %}
    <h1>Edit MaSession</h1>

    {{ include('ma_session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ma_session_index') }}">back to list</a>

    {{ include('ma_session/_delete_form.html.twig') }}
{% endblock %}
