{% extends 'base.html.twig' %}

{% block title %}MaSession index{% endblock %}

{% block body %}
    <h1>MaSession index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ma_session in ma_sessions %}
            <tr>
                <td>{{ ma_session.id }}</td>
                <td>{{ ma_session.login }}</td>
                <td>{{ ma_session.password }}</td>
                <td>
                    <a href="{{ path('ma_session_show', {'id': ma_session.id}) }}">show</a>
                    <a href="{{ path('ma_session_edit', {'id': ma_session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ma_session_new') }}">Create new</a>
{% endblock %}
