{% extends 'base.html.twig' %}

{% block title %}New MaSession{% endblock %}

{% block body %}
    <h1>Create new MaSession</h1>

    {{ include('ma_session/_form.html.twig') }}

    <a href="{{ path('ma_session_index') }}">back to list</a>
{% endblock %}
