{% extends 'base.html.twig' %}

{% block title %}MaSession{% endblock %}

{% block body %}
    <h1>MaSession</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ma_session.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ ma_session.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ ma_session.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ma_session_index') }}">back to list</a>

    <a href="{{ path('ma_session_edit', {'id': ma_session.id}) }}">edit</a>

    {{ include('ma_session/_delete_form.html.twig') }}
{% endblock %}
