<form method="post" action="{{ path('role_delete', {'id': role.id}) }}" onsubmit="return confirm('Êtes-vous sure de vouloir supprimer le role?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn"><i class="far fa-trash-alt"></i> Supprimer </button>
</form>
