{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
    <h1>Modifier le Role</h1>

    {{ include('role/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('role_index') }}"><i class="fas fa-undo"></i> Retour à la liste </a>

    {{ include('role/_delete_form.html.twig') }}
{% endblock %}
