{% extends 'base.html.twig' %}
{% block titrepage %}Liste des roles{% endblock %}
{% block title %}Role index{% endblock %}

{% block body %}
	<div class= "col-12 text-right mb-4">
    <a href="{{ path('role_new') }}"><i class="fas fa-plus"></i> Nouveau </a>
	</div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.libelle }}</td>
                <td>
                    <a href="{{ path('role_show', {'id': role.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('role_edit', {'id': role.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}
