  {% extends 'base.html.twig' %}
{% block titrepage %}Créer un nouvel utilisateur{% endblock %}
  {% block title %}Nouveau role{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
  {% block body %}
      <div class="jumbotron">
        {{ include('role/_form.html.twig') }}

        <a href="{{ path('role_index') }}"><i class="fas fa-undo"></i>Retour a la liste</a>
      </div>
  {% endblock %}
