{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}

    <h1>Voir le Role</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Libelle </th>
                <td>{{ role.libelle }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('role_index') }}"><i class="fas fa-undo"></i> Retour à la liste</a>
	<br/>
    <a href="{{ path('role_edit', {'id': role.id}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a>


    {{ include('role/_delete_form.html.twig') }}


{% endblock %}
