<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" href="/img/science.svg">
    {% block stylesheets %}{% endblock %}
  </head>
  <body class="bg-light">
    {% if app.user %}
      <div class="container-fluid">
        <div class="row py-2">
          <div id="container-logo" class="col-2">
            <a href="/"><img src="/img/logo-gsb.png" alt="logo-gsb"/></a>
          </div>
          <div class="col-10">
            <h1 class="text-center display-4">
              {% block titrepage %}{% endblock %}
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col-2 my-4">
            <a class="text-primary list-group-item d-flex menu-link" href="{{ path('dashboard') }}">Dashboard</a>
            <a class="text-primary list-group-item d-flex menu-link" href="{{ path('users_show', {'id' : app.session.get('id')??0 }) }}">Profil</a>

            <!-- Panel fiche frais -->
            {% if app.session.get('role') == "Comptable" or app.session.get('role') == "Visiteur" %}
              <div class="dropdown">
                <a class="text-primary list-group-item d-flex justify-content-between align-items-center dropdown-toggle menu-link" data-toggle="dropdown">Fiche frais
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{{ path('fiche_frais_index') }}">Liste</a>
                  </li>
                  {% if app.session.get('role') == "Visiteur" %}
                    <li>
                      <a class="dropdown-item" href="{{ path('fiche_frais_new') }}">Créer</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}

            <!-- Panel administrateur -->
            {% if app.session.get('role') == "Administrateur" %}
              <div class="dropdown">
                <!-- Admin-->
                <a class="text-primary list-group-item d-flex justify-content-between align-items-center dropdown-toggle menu-link" data-toggle="dropdown">Administration
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu multi-level">
                  <li class="dropdown-submenu">
                    <a class="text-primary list-group-item d-flex justify-content-between dropdown-toggle">Utilisateur</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{{ path('users_index') }}">Liste</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ path('users_new') }}">Nouveau</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="text-primary list-group-item d-flex justify-content-between dropdown-toggle">Role</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{{ path('role_index') }}">Liste</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ path('role_new') }}">Nouveau</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            {% endif %}
            <div class="button-position">
              <a href="{{ path('app_logout') }}">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-power-off"></i>
                </button>
              </a>
            </div>

          </div>
          <!-- Body -->
          <div class="col-10 px-20 py-10">
            <div id="container-body">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/46f33fee0e.js" crossorigin="anonymous"></script>
    <script
    			  src="https://code.jquery.com/jquery-3.4.1.js"
    			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    			  crossorigin="anonymous"></script>


    {% block javascripts %}{% endblock %}
  {% else %}
    <div id="container-redirection">
      Vous devez être <a class="btn btn-info" href="{{ path('app_login') }}">connecter</a> pour accéder à cette page.
    </div>
  {% endif %}
</body>
</html>
