{% extends 'base.html.twig' %}

{% block title %}Module de Statistiques{% endblock %}

{% block body %}
Séléctionnez l'intervalle de date :
<br> <br>
Date de début :
<input type="date" name="dateDebut" id="dateDebut" value="">
Date de fin :
<input type="date" name="dateFin" id="dateFin" value="">

<input type="button" class="btn btn-primary" id="datepicker" value="GENERER">
<br>
<br>

<table class="table table-hover" id="tableStats">
  <thead>
    <tr> Note de frais & montant /mois
      <th scope="col">Année</th>
      <th scope="col">Mois</th>
      <th scope="col">Montant total des notes de frais (en €)</th>
      <th scope="col">Nombre de notes de frais enregistrées</th>
      <th scope="col">Moyenne du mois par notes de frais (en €)</th>
    </tr>
  </thead>
  <tbody id="tbodyStats">
    {% for tableDeStat in statsFixe %}
      <tr>
        {% for statFixe in tableDeStat %}
                <td id="tdStats">{{ statFixe }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br>

<!-- Informations statistiques sur le montant total des fiches frais et des moyennes -->
<div>
    <h5 id="montantTotal"><span id='js-montant-total'></span></h5>
    <h5 id="moyenneFF"><span id='js-moyenne-ff'></span></h5>
</div>

<br><br>

<!-- Graphe1 -->
<h5 id="titleGraphe1"></h5>
<div id="graphStats">
  <canvas id="graph-montant-nbNote" width="100%"></canvas>
</div>


<!-- Graphe2 -->
<h5 id="titleGraph2"></h5>
<div id="graphStats2">
  <canvas id="graph-moyenne-mois" width="100%"></canvas>
</div>


<!-- Bouton pour générer le PDF -->
<a href="{{ path('generate_pdf') }}">
  <button type="button" class="btn btn-primary">Générer le PDF</button>
</a>


{% endblock %}
{% block javascripts %}
  <script src="js/datePick.js"></script>
  <script src="js/dateStats.js"></script>
  <script src="js/chartJs.js"></script>
{% endblock %}
