{% extends 'base.html.twig' %}

{% block title %}LigneFraisForfait{% endblock %}

{% block body %}
    <h1>LigneFraisForfait</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_frais_forfait.id }}</td>
            </tr>
            <tr>
                <th>DateMois</th>
                <td>{{ ligne_frais_forfait.dateMois ? ligne_frais_forfait.dateMois|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_frais_forfait.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_frais_forfait_index') }}">back to list</a>

    <a href="{{ path('ligne_frais_forfait_edit', {'id': ligne_frais_forfait.id}) }}">edit</a>

    {{ include('ligne_frais_forfait/_delete_form.html.twig') }}
{% endblock %}
