{% extends 'base.html.twig' %}

{% block titrepage %}Bienvenue {{ app.session.get('nom') }}{% endblock %}
{% block title %}Tableau de bord{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/css/dashboard.css">{% endblock %}

{% block body %}
  {% if app.session.get('role') == "Administrateur" %}
    <!-- Si on recupere le role "admin" on affiche le dashboard associé"-->
    <div class="container">
      <!--container du dashboard admin -->
      <div class="row">
        <div class="offset-2 col-4">
          <div class="card profile-card-5 card border-primary mb-3">
            <div class="card-img-block">
              <img class="card-img-top img-redim-col4" src="/img/logo-administration.jpg" alt="admin_img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary text-center">
                Administration utilisateurs
              </h4>
              <p class="card-text justify-content-between">
                Accédez à la liste des utilisateurs permettant la visualisation et la modification de ceux-ci.
              </p>
              <div class="project-links d-flex justify-content-between">
                <a href="{{ path('users_index') }}" class="btn btn-outline-primary mx-auto">
                  <i class="far fa-eye"></i>
                  Y accéder
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card profile-card-5 card border-primary mb-3">
            <div class="card-img-block img-compta-bg">
              <img class="card-img-top img-redim-col4-compta" src="/img/user-role.PNG" alt="compta_img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary text-center">
                Administration rôles utilisateurs
              </h4>
              <p class="card-text justify-content-between">
                Accédez à la liste des roles permettant la visualisation et la modification de ceux-ci.
              </p>
              <div class="project-links d-flex justify-content-between">
                <a href="{{ path('role_index') }}" class="btn btn-outline-primary mx-auto">
                  <i class="far fa-eye"></i>
                  Y accéder
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <!-- Visiteur ou Comptable -->
    <div class="container">
      <!--container du dashboard user -->
      <div class="row">
        <div class="col-4">
          <div class="card profile-card-5 card border-primary mb-3">
            <div class="card-img-block">
              <img class="card-img-top img-redim-col6" src="/img/header-bills.jpg" alt="bills_img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary text-center">
                Notes de frais
              </h4>
              <p class="card-text justify-content-between">
                Accédez à l'ensemble de vos fiches de frais.
              </p>
              <div class="project-links d-flex justify-content-between">
                <a href="{{ path('fiche_frais_index') }}" class="btn btn-outline-primary mx-auto">
                  <i class="far fa-eye"></i>
                  Y accéder
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card profile-card-5 card border-primary mb-3">
            <div class="card-img-block">
              <img class="card-img-top img-redim-col6" src="/img/header-stats.jpg" alt="last_bills_img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary text-center">
                Statistiques
              </h4>
              <p class="card-text justify-content-between">
                Visualisez et générez des statistiques.
              </p>
              <div class="project-links d-flex justify-content-between">
                <a href="{{ path('statistiques') }}" class="btn btn-outline-primary mx-auto">
                  <i class="far fa-eye"></i>
                  Y accéder
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card profile-card-5 card border-primary mb-3">
            <div class="card-img-block">
              <img class="card-img-top img-redim-col6" src="/img/header-profil.jpg" alt="profil_img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary text-center">
                Profil
              </h4>
              <p class="card-text justify-content-between">
                Visualisez votre profil.
              </p>
              <div class="project-links d-flex justify-content-between">
                <a href="{{ path('users_show', {'id' : app.session.get('id')??0 }) }}" class="btn btn-outline-primary mx-auto">
                  <i class="far fa-eye"></i>
                  Tout voir
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
