{% extends 'base.html.twig' %}
{% block titrepage %}Liste des utilisateurs{% endblock %}
{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
  <div class="container-fluid px-4 py-4">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Role</th>
          <th>Ville</th>
          <th>Matricule</th>
          <th>Email</th>
          <th>Date d'embauche</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.role.libelle }}</td>
          <td>{{ user.ville }}</td>
          <td>{{ user.matricule }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.dateEmbauche ? user.dateEmbauche|date('d/m/Y') : '' }}</td>
          <td class="text-center">
            <a class="mx-1" href="{{ path('users_show', {'id': user.id}) }}"><i class="far fa-eye"></i></a>
            <a class="mx-1" href="{{ path('users_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="12">Il n'y a pas d'utilisateur</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-info mx-2 my-3" href="{{ path('users_new') }}">Ajouter un utilisateur <i class="fas fa-user"></i></a>
  </div>
{% endblock %}
