{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}
{% block titrepage %}Créer un utilisateur{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {{ include('users/_form.html.twig') }}

    <script>
    let password = document.getElementById("password").value;
    let passwordCheck = document.getElementById("passwordCheck").value;


    function verifierMotDePasse(pwd1,pwd2){
      if(pwd1 === pwd2){
        document.getElementById("password").className = "form-control is-valid";
        document.getElementById("passwordCheck").className = "form-control is-valid";
      }
      else{
        document.getElementById("password").className = "form-control is-valid";
        document.getElementById("passwordCheck").className = "form-control is-invalid";
      }
    }

    password.onchange = function (){
        verifierMotDePasse(password.value,passwordCheck.value);
        console.log("verif premier champ");
    }
    passwordCheck.onchange = function (){
        verifierMotDePasse(password.value,passwordCheck.value);
        console.log("verif deuxieme champ");
    }
    </script>


    <a href="{{ path('users_index') }}">Retour à la liste</a>
{% endblock %}
