{% extends 'base.html.twig' %}
{% block titrepage %}Profil{% endblock %}
{% block title %}Profil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/css/profil.css">{% endblock %}

{% block body %}

  <div id="container-profil" class="media">
    <img class="mr-4" src="/img/default-profile-avatar.png" alt="Default profil avatar" height="120">
    <div class="media-body">
      <h5 class="mb-4">Profil de {{ user.nom }} {{ user.prenom }}</h5>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <p class="lead">Etat civil</p>
              <ul>
                <li>Né le {{ user.dateNaissance ? user.dateNaissance|date('d/m/Y') : '' }}</li>
                <li>Matricule : {{ user.matricule }}</li>
                <li>Embauché le {{ user.dateEmbauche ? user.dateEmbauche|date('d/m/Y') : '' }}</li>
              </ul>
            </div>
            <div class="col-sm">
              <p class="lead">Contact</p>
              <ul>
                <li>Email : {{ user.email }}</li>
                <li>Adresse : {{ user.adresse }}, {{ user.ville }} {{ user.codePostal }}</li>
                <li>Telephone : {{ user.telephone }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
